name: release_major

on: workflow_dispatch

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ssh-key: "${{ secrets.TEXTEDITORCOMMITKEY }}"

    - name: Update git tag version
      run: cmake -DBUMB_VERSION=MAJOR -P BumbVersion.cmake