name: test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        include:
        - os: macos-latest
        - os: ubuntu-latest
        - os: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    
    - name: Test1
      id: test_1
      run: echo ::set-output name=test::"thisisatest"

    - name: Test2
      id: test_2
      with:
      tag_name: ${{ steps.version.outputs.test }}
      run: echo $tag_name

    - name: Get git tag
      id: get_git_tag
      run: cmake -P GetGitTag.cmake

    - name: Echo git tag
      id: echo_git_tag
      run: echo "${{ steps.vars.outputs.git_tag }}"